@if (candidates.length > 0) {

<table mat-table [dataSource]="candidates" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="editMeta?.id === element.id ? 'highlight' : ''"
    >
      {{ element.id }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="editMeta?.id === element.id ? 'highlight' : ''"
    >
      {{ element.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="editMeta?.id === element.id ? 'highlight' : ''"
    >
      {{ element.address }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="editMeta?.id === element.id ? 'highlight' : ''"
    >
      {{ element.age }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="editMeta?.id === element.id ? 'highlight' : ''"
    >
      {{ element.phone }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="editMeta?.id === element.id ? 'highlight' : ''"
    >
      <button
        mat-button
        type="button"
        color="primary"
        (click)="editCandidate(element.id)"
      >
        Edit
      </button>
      |
      <button
        mat-button
        type="button"
        color="accent"
        (click)="removeCandidate(element.id)"
      >
        Delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
} @else {
<p>No Candidate Data Available!</p>
}
