<header>
  <h1>Candidate Form</h1>
</header>
<mat-divider />
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      id="name"
      name="name"
      [value]="candidate?.name"
      ngModel
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input
      matInput
      id="address"
      name="address"
      [value]="candidate?.address"
      ngModel
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input
      matInput
      type="number"
      id="age"
      name="age"
      [value]="candidate?.age"
      ngModel
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input
      matInput
      type="number"
      id="phone"
      name="phone"
      [value]="candidate?.phone"
      ngModel
      required
    />
  </mat-form-field>
  <mat-divider />
  <div class="actions">
    <button type="submit" mat-flat-button color="primary">
      {{ editMeta?.editing ? "Update" : "Save" }}
    </button>
    <button type="reset" mat-flat-button color="accent" (click)="onClear(form)">
      Clear
    </button>
  </div>
</form>
